*{
margin: 0;
padding: 0;
font-family: sans-serif;
box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
}

header {
width: 100%;
padding: 10px 8%;
position: relative;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0.7),rgba(0,0,0,0.7)), url(images/header-img.png);
background-size: cover;
background-position: center;
}

nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 0;
}

.header-logo{
    width: 150px;
    cursor: pointer;
    padding-left: 10px;
}
nav button{
padding:5px 10px;
border: 0;
cursor: pointer;
outline: 0;
background: #db0001;
color: #fff;
font-size: 12;
border-radius: 4px;
margin-left: 10px;
}
.English-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 5px 5px;
}

.English-btn img{
    width: 10px;
    margin: 10px;
}
.header-writeup{
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
 position: absolute;
 margin-top: 100px;
}

.header-writeup h1{
    font-size: 60px;
    line-height: 70px;
    max-width: 650px;
    font-weight: 600;
}
.header-writeup h3{
    font-weight: 400;
    margin-bottom: 20px;
}

.email{
    background: #fff;
    display: flex;
    border-radius: 4px;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 10px;
    padding: 10px 20px;
    cursor: pointer;

}
.email img{
    width: 10px;
    margin: 10px;
}
.get-started{
    display: flex;
    align-items: center;
   
    
}

.content-container{
    padding: 50px 15% 12px;
    font-size: 22px;
      
       
        
}
.writeup-row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.images{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.images img{
    display: block;
    width: 90%;
    margin: auto;
}
.content-container h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.question{
    padding: 10px 11px;
    text-align: center;
    font-size: 19px;
}
.question{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.question li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.question li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-size: 500;
    background: #303030;
    margin-bottom: 2px;
    position: relative;
    cursor: pointer;
}

label::after{
    content: '+';
    font-size: 35px;
    position: absolute;
    right: 20px;
}
input[type="radio"]{
    display: none;
}

.question.email-signup{
    max-width: 500px;
    margin: 17px auto 54px;
}



.question p{
    font-size: 15px;
    padding-top: 20px;
}

.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}

.footer h2{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 300;
}


.footer-row{
    display: flex;
    gap: 7rem;
}
.footer .column a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .footer-row{
    align-items: flex-start;
    padding: 10px 0;

}
.footer .English-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.footer p{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    header {
        padding: 6px 2%; 
    }

    .header-logo {
        width: 100px; 
    }

    .header-writeup {
        margin-top: 60px; 

    }

    .header-writeup h1{
        font-size: 35px;
        font-weight: 700;

    }
.header-writeup p{
    font-size: 10px;
}
    .content-container {
        padding: 30px 15%; 

    }

    .writeup-row {
        padding: 30px 0; 
    }

    .text,
    .images {
        flex-basis: 100%; 
    }

    .content-container h2 {
        font-size: 30px; 
    }

    .question {
        margin: 30px auto; 
    }

    .question.email-signup {
        max-width: 100%; 
    }

    .footer {
        padding: 30px 5% 10px; 
    }

    .footer-row {
        gap: 3rem; 
    }
}